name: Docker

on:
  push:
    branches: [ "main" ]

env:
  REGISTRY: ghcr.io


jobs:
  build:
    strategy:
      matrix:
        include:
          - sdk: '3.1'
            sdkFull: '3.1.426'
            image: windowsservercore-ltsc2022
            runner: windows-2022
            build: true
          - sdk: '3.1'
            sdkFull: '3.1.426'
            image: windowsservercore-ltsc2025
            runner: windows-2025
            build: true
          - sdk: '3.1'
            sdkFull: '3.1.426'
            image: nanoserver-ltsc2025
            runner: windows-2025
            build: true
          - sdk: '5.0'
            sdkFull: '5.0.408'
            image: windowsservercore-ltsc2022
            runner: windows-2022
            build: true
          - sdk: '5.0'
            sdkFull: '5.0.408'
            image: windowsservercore-ltsc2025
            runner: windows-2025
            build: true
          - sdk: '5.0'
            sdkFull: '5.0.408'
            image: nanoserver-ltsc2025
            runner: windows-2025
            build: true
          - sdk: '6.0'
            sdkFull: '6.0.428'
            image: windowsservercore-ltsc2022
            runner: windows-2022
            build: true
          - sdk: '6.0'
            sdkFull: '6.0.428'
            image: windowsservercore-ltsc2025
            runner: windows-2025
            build: true
          - sdk: '6.0'
            sdkFull: '6.0.428'
            image: nanoserver-ltsc2025
            runner: windows-2025
            build: true
          - sdk: '7.0'
            sdkFull: '7.0.410'
            image: windowsservercore-ltsc2022
            runner: windows-2022
            build: true
          - sdk: '7.0'
            sdkFull: '7.0.410'
            image: windowsservercore-ltsc2025
            runner: windows-2025
            build: true
          - sdk: '7.0'
            sdkFull: '7.0.410'
            image: nanoserver-ltsc2025
            runner: windows-2025
            build: true
          - sdk: '8.0'
            sdkFull: '8.0.415'
            image: windowsservercore-ltsc2022
            runner: windows-2022
            build: true
          - sdk: '8.0'
            sdkFull: '8.0.415'
            image: windowsservercore-ltsc2025
            runner: windows-2025
            build: true
          - sdk: '8.0'
            sdkFull: '8.0.415'
            image: nanoserver-ltsc2025
            runner: windows-2025
            build: true
          - sdk: '9.0'
            sdkFull: '9.0.306'
            image: windowsservercore-ltsc2022
            runner: windows-2022
            build: true
          - sdk: '9.0'
            sdkFull: '9.0.306'
            image: windowsservercore-ltsc2025
            runner: windows-2025
            build: true
          - sdk: '9.0'
            sdkFull: '9.0.306'
            image: nanoserver-ltsc2025
            runner: windows-2025
            build: true

    runs-on: ${{ matrix.runner }}

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        if: matrix.build == true
        uses: actions/checkout@v3

      - name: Log into registry ${{ env.REGISTRY }}
        if: matrix.build == true
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image ${{ matrix.sdk }}-${{ matrix.image }}
        if: matrix.build == true
        run: |
          docker build ${{ github.workspace }}/src/sdk/${{ matrix.sdk }}/${{ matrix.image }}/amd64 --tag ghcr.io/smkanadl/sdk:${{ matrix.sdk }}-${{ matrix.image }}-x86 --tag ghcr.io/smkanadl/sdk:${{ matrix.sdkFull }}-${{ matrix.image }}-x86
          docker push ghcr.io/smkanadl/sdk:${{ matrix.sdk }}-${{ matrix.image }}-x86
          docker push ghcr.io/smkanadl/sdk:${{ matrix.sdkFull }}-${{ matrix.image }}-x86
